* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgb(82, 10, 116) 0%, rgba(237,245,249,1) 60%);
}

.initials-button {
  font-size: 16px;
  height: 30px;
  line-height: 11px;
  margin-top: 10px;
}

.reset-button {
  font-size: 20px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

#save-btn{
  font-size: 20px;
}


.initials-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  background: rgba(109, 84, 223, 0.954); 
  border-radius: 8px;
  color: #450d5f;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  margin-bottom: 1em;
}

header {
  padding: 40px;
  text-align: center;
  background: linear-gradient(0deg, rgba(237,245,249,1) 0%, rgb(82, 10, 116) 60%);
  color: #fff;
  border-bottom:30px #879274;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}

.quiz {
  width: 55vw;
  height: 400px;
}
.results {
  width: 30vw;
  height: 400px;
}

.card {
  background: white;
  border: 1px solid #270744;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
}

.large-font {
  font-size: 3.5em;
  text-align:center;
}

.timer {
  height: 175px;
  padding: 3px;
  background: #44095f;
  color: #fff;
  text-align: center;
}

.timer-text {
  padding: 30px;
}


li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #540c5e;
  color: white;
  font-size: 1em;
}

@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 504px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
    
  }

  .timer {
    height: 200px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

#entered-initials {
  font-weight: bold;
  font-size: 18px;
}